<div class="wrapper" ng-controller="rankingsController">
  <div class="player-form col-sm-6">
    <form ng-submit="addPlayer(formItem)">
      <input type="text" placeholder="Add player..." required ng-model="formItem.name">
      <input type="number" placeholder="Add ranking..." required ng-model="formItem.ranking">
      <select name="positionSelect" required ng-model="formItem.position">
        <option value="" selected disabled>Position</option>
        <option value="QB">QB</option>
        <option value="RB">RB</option>
        <option value="WR">WR</option>
        <option value="TE">TE</option>
        <option value="DST">DST</option>
        <option value="K">K</option>
      </select>
      <button type="submit" class="button">Add Player</button><br><br>
    </form>
    <div ng-show="submissionSuccess">Player added.</div>
  </div>

  <div class="rankings col-sm-6">
    <table>
      <tr>
        <th>Rank</th>
        <th>Player</th>
      </tr>
      <tr ng-repeat="player in players | filter : {position: 'DST'} : true | orderBy:'ranking':isReverse">
        <td>{{ player.ranking }}</td>
        <td>{{ player.name }}</td>
        <td><button type="button" ng-click="deletePlayer(player)">Delete</button></td>
        <td>
          <span class="glyphicon glyphicon-chevron-up"></span>
          <span class="glyphicon glyphicon-chevron-down"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
