<div class="container">
  <div class="jumbotron">
    <h1>Keeper Calculator</h1>
      <p>A formula to help determine the value of your potential keepers.</p>
  </div>

  <div class="player-row" ng-controller="valueController">
    <div class="player1 col-sm-4">
      <img src="img/player.png" alt="Football player icon" style="width:75%;height:75%">
      </br></br>ADP:
      <input ng-model="$scope.adp" type="number">
      </br></br>Pick lost:
      <input ng-model="$scope.pick" type="number">
      </br></br>
      <button ng-click="calculate()" type="button" name="button">Calculate</button>
      <output>{{ adp }}</output>
    </div>
    <div class="player2 col-sm-4">
      <img src="img/add-player.png" alt="Add player icon" style="width:75%;height:75%">
    </div>
  </div>
</div>
<!-- <footer>
  <p>
    ADP: Average Draft Position. This is the players preseason ranking.</br>
    Pick Lost: The pick you are losing for keeping this player.</br>
    TKP: Total Keeper Value. This is the total value of your keeper considering the pick
    that is lost with keeping him.
  </p>
</footer> -->
