<div class="container">
  <div class="jumbotron">
    <h1>Keeper Calculator</h1>
      <p>A formula to help determine the value of your potential keepers.</p>
      <p class="sub">
        <b>ADP</b>: <b>Average Draft Position.</b> The player's preseason consensus draft position (or use your own rankings).</br>
        <b>Pick Lost</b>: The pick you are losing for keeping this player.</br>
        <b>TKP</b>: <b>Total Keeper Value.</b> The total value of your keeper considering the pick
        that is lost with keeping him.
      </p>
  </div>

  <div class="player-row" ng-controller="valueController">
    <div class="player1 col-xs-4">
      <img src="img/player.png" alt="Football player icon" style="width:75%;height:75%">
      </br></br>
      <select ng-model="adp" ng-options="item.value as item.num for item in valueChart">
        <option value="" selected disabled>ADP</option>
      </select>
      <select ng-model="pick" ng-options="item.value as item.num for item in valueChart">
        <option value="" selected disabled>Pick Lost</option>
      </select><br><br>
      <button ng-click="calculate()" class="btn">Calculate</button>
      <output> {{ tkv }} </output>
    </div>
  </div>

  <div class="player2 col-xm-4">
    <!-- <button ng-click="add()">+</button> -->
  </div>
</div>
