<div class="container">
  <div class="jumbotron">
    <h1>Predraft Rankings</h1>
      <p>A tool to help organize your predraft rankings.</p>
  </div>

  <div class="btn-group" ng-controller="buttonController">
    <a ui-sref="rankings.qb"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">QB</button></a>
    <a ui-sref="rankings.rb"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">RB</button></a>
    <a ui-sref="rankings.wr"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">WR</button></a>
    <a ui-sref="rankings.te"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">TE</button></a>
    <a ui-sref="rankings.dst"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">D/ST</button></a>
    <a ui-sref="rankings.k"><button class="btn btn-danger" ng-class="{true: 'btn-success', false: 'btn-danger'}[isActive]" ng-click="toggleActive()">K</button></a>
  </div>
  </br></br>

  <div ui-view></div>

</div>
