<div class="container">
  <div class="jumbotron">
    <h1>Predraft Rankings</h1>
      <p>A tool to help organize your predraft rankings.</p>
  </div>

  <div class="btn-group">
    <a ui-sref="rankings.qb"><label class="btn btn-primary">QB</label></a>
    <a ui-sref="rankings.rb"><label class="btn btn-primary">RB</label></a>
    <a ui-sref="rankings.wr"><label class="btn btn-primary">WR</label></a>
    <a ui-sref="rankings.te"><label class="btn btn-primary">TE</label></a>
    <a ui-sref="rankings.dst"><label class="btn btn-primary">DST</label></a>
    <a ui-sref="rankings.k"><label class="btn btn-primary">K</label></a>
  </div>
  </br></br>

  <div ui-view></div>

</div>
