@import 'base/reset';
@import 'helpers/variables';
@import 'pages/draftOrder';
@import 'components/navigation';
@import 'components/tables';
@import 'components/cover';

body {
  background-image: url('../img/grass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.player-row {
  text-align: center;
}

output {
  color: $primary-white;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

/* Links */
a,
a:focus,
a:hover {
  color: $primary-white;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:focus,
a:hover {
  opacity: .7;
  text-decoration: none;
}
